* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

@media screen and (max-width: 792px) {
  html,
  body {
    font-size: 12px;
  }
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background: #ebe9e3;
}


#app {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  cursor: default;
}

.title span {
  font-size: 0.75rem;
  font-weight: normal;
  position: absolute;
  top: 5px;
  left: 100%;
  padding-left: 5px;
  width: max-content;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: normal;
  cursor: default;
}

h1 span {
  display: block;
  text-align: center;
  font-size: 1rem;
  margin-top: 4px;
  font-style: italic;
}

a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
  margin-top: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  padding-right: 20px;
  opacity: 0;
  animation: entrance .7s cubic-bezier(.25,.46,.45,.94) 1.5s forwards;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background: black;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

a span {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}

a svg {
  width: 20px;
  height: 20px;
  stroke: white;
}

a:hover::before {
  width: 100%;
}

a:hover {
  color: white;
}

a:hover span {
  margin-right: 0;
}

h1, p {
  opacity: 0;
  animation:focus-in-contract .7s cubic-bezier(.25,.46,.45,.94) 1s both;
}

@keyframes focus-in-contract{
  0%{
    letter-spacing:1rem;
    filter:blur(12px);
    opacity:0;
  }
  100%{
    filter:blur(0);
    opacity:1;
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}